<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
 
 <!-- 여기서 Alias는 클래스 이름이 됨! 
 
 	package를 통한 알리아스 설정
 		- name = "알리아스를 설정할 클래스들이 있는 패키지"
 		- 알리아스가 클래스 이름으로 설정된다.
 -->
   <typeAliases>
      <package name="com.ssafy.happyhouse.dto"/>
   </typeAliases>
   
   <mappers>
	  <mapper resource="config/house.xml"/>
	  <mapper resource="config/houseInfo.xml"/>
	  <mapper resource="config/notice.xml"/>
	  <mapper resource="config/user.xml"/>
	  <mapper resource="config/qna.xml"/>
   </mappers>
</configuration>


